@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-primary: #f28c28; /* Laranja */
  --color-dark: #071A36;
  --color-dark-alt: #0D2D5D;
  --color-bg: #ffffff9a;
}

/* Personalizações globais */
html {
  font-family: var(--font-sans);
  scroll-behavior: smooth;
  background-color: var(--color-dark);
}
